<div id="nameAndIntroSection" ng-show="languageChoice.isEnglish">
	<h1 id="headerName">Bill Horst</h1>
	<div id="introDiv">
	<p class="home-intro-paragraph sans-serifFont">{{message.timeGreeting[0]}} My name is Bill. I'm a software developer from Colorado, USA.</p>
	</div>
</div>

<div id="nameAndIntroSection" ng-show="languageChoice.isJapanese">
	<h1 id="jHeader">ホースト-ビリー</h1>
	<div id="introDiv">
	<p class="home-intro-paragraph sans-serifFont">{{message.timeGreeting[1]}} ビリーというコロラド州のソフトウェアエンジニアです。</p>
	</div>
</div>