<div id="projectsSection">
	<hr />
	<h1 class="sectionTitle" ng-show="languageChoice.isEnglish">Recent Projects</h1>
	<h1 class="jSectionTitle" ng-show="languageChoice.isJapanese">最近の制作物</h1>
	<hr />

	<expand-collapse-button></expand-collapse-button>

	<div class="projects-content hideProjects" id="projectList">

		<!--iterate over projects in project array here-->
		<div class="projectBox" ng-repeat="project in projectArray">

			<div class="projectTitle">
				<h2 ng-show="languageChoice.isEnglish" class="sans-serifFont">{{project.eTitle}}</h2>
				<h2 ng-show="languageChoice.isJapanese" class="sans-serifFont">{{project.jTitle}}</h2>
			</div>
			<a target="_blank" ng-href={{project.appUrl}}>
				<div class="projectApp">
					<img src={{project.appPic}} alt={{project.altDesc}}/>
				</div>
			</a>
			<div class="projectDescription">
				<p ng-show="languageChoice.isEnglish" class="sans-serifFont">{{project.eDescription}}</p>
				<p ng-show="languageChoice.isJapanese" class="sans-serifFont">{{project.jDescription}}</p>
			</div>
			<a target="_blank" ng-href={{project.codeUrl}}>
				<div class="projectCode sans-serifFont">
					<span ng-show="languageChoice.isEnglish">See code in GitHub</span>
					<span ng-show="languageChoice.isJapanese">GitHubでコードを閲覧</span>
				</div>
			</a>

		</div>

	</div>

	<div id="clearBottomOfProjects"></div>

	<expand-collapse-button></expand-collapse-button>

	<hr />

	<div ng-show="languageChoice.isEnglish">
		<a target="_blank" href="{{url.resumeApp}}" ng-click="openResumeApp()"><button class="pResume">View Resume</button></a>
		<br />
		<a href="pdfs/HorstResume.pdf" download="WilliamHorstResume"><button class="pResume">Download Resume</button></a>
	</div>
	<div ng-show="languageChoice.isJapanese">
		<a target="_blank" href="{{url.resumeApp}}" ng-click="openResumeApp()"><button class="pResume">履歴書の閲覧</button></a>
		<br />
		<a href="pdfs/HorstResume.pdf" download="WilliamHorstResume"><button class="pResume">履歴書のダウンロード</button></a>
	</div>
</div>