<div id="techListSection">
	<hr />
	<h1 class="sectionTitle" ng-show="languageChoice.isEnglish">Tech List</h1>
	<h1 class="jSectionTitle" ng-show="languageChoice.isJapanese">技術</h1>
	<hr />

	<h3 class="sans-serifFont" ng-show="languageChoice.isEnglish">Most frequently used technologies and self-assessed proficiency in each.</h3>
	<h3 class="sans-serifFont" ng-show="languageChoice.isJapanese">よく使用する技術と習熟度</h3>

	<div id="techSectionMain">
		
		<div class="techChartWord sans-serifFont">JavaScript:</div><div class="techChart jvscpt">50/100</div><br />
		<div class="techChartWord sans-serifFont">Java:</div><div class="techChart jv">50/100</div><br />
		<div class="techChartWord sans-serifFont">CSS3:</div><div class="techChart c3">45/100</div><br />
		<div class="techChartWord sans-serifFont">HTML5:</div><div class="techChart h5">42/100</div><br />
		<div class="techChartWord sans-serifFont">SQL:</div><div class="techChart sql">35/100</div><br />
		<div class="techChartWord sans-serifFont">Angular:</div><div class="techChart ang">32/100</div><br />
		<div class="techChartWord sans-serifFont">jQuery:</div><div class="techChart jq">30/100</div>

	</div>

</div>