<div id="techListSection">
	<h1 class="sectionTitle">Tech List</h1>

	<h3>Most frequently technologies used and self-assessed proficiency in each.</h3>

	<div id="techSectionMain">
		
		<div class="techChartWord">HTML5:</div><div class="techChart h5"></div><br />
		<div class="techChartWord">CSS3:</div><div class="techChart c3"></div><br />
		<div class="techChartWord">Java:</div><div class="techChart jv"></div><br />
		<div class="techChartWord">JavaScript:</div><div class="techChart jvscpt"></div><br />
		<div class="techChartWord">Angular:</div><div class="techChart ang"></div><br />
		<div class="techChartWord">jQuery:</div><div class="techChart jq"></div>

		
		
		



	</div>

</div>