body {
	background: #F7F7F7;
	background-size: cover;
	background-size: 100%;
	font-family: "Times New Roman";
}

.eveningPicture {
	background: url("../images/eveningPicture.JPG") no-repeat fixed;
	background-size: cover;
	background-size: 100%;
}

.daytimePicture {
	background: url("../images/daytimePicture.JPG") no-repeat fixed;
	background-size: cover;
	background-size: 100%;
}

.morningPicture {
	background: url("../images/morningTimePicture.jpg") no-repeat fixed;
	background-size: cover;
	background-size: 100%;
}

#body {
	margin-top: 34px;
}

/*----------------------------
NAVIGATION BAR
----------------------------*/
.topNavigation {
	height: 52px;
	width: 100%;
	background:rgba(255,255,255,0.8);
	position: fixed;
	margin-top: -52px;
}

.navList li {
	display: inline-block;
	padding-right: 15px;
	padding-left: 10px;
	vertical-align: middle;
	cursor: pointer;
	font-size: 18pt;
	margin-top: -10px;
}

.topNavigation a {
	padding-right: 15px;
	padding-left: 10px;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.topNavigation li:hover {
	text-shadow: 3px 0px 4px lightgrey;
}

.navList li:nth-last-child(n+2) {
	border-right: solid black 1px;
}

.nameLogo {
	border-right: none !important;
	margin-right: 45px;
	font-size: 28pt !important;
	margin-top: -15px !important;
}

.langButtonDiv {
	min-width: 100px;
	height: 30px;
	margin-top: -60px;
	float: right;
}

.langButton {
	height: 20px;
	font-size: 18px;
	margin-top: 10px;
	padding-bottom: 22px;
}

.jButton {
	margin-top: 1px;
}

.jNav {
	font-size: 12pt;
}


/*-----------------------------
NAME AND INTRO SECTION
-----------------------------*/

#nameAndIntroSection {
	padding-top: 150px;
	padding-bottom: 52px;
	text-align: center;
	/*background-color: #F7F7F7;*/
	color: black;
	text-shadow: 2px 2px 2px white;
}

#headerName {
	font-size: 80pt;
	font-family: lobster;
	letter-spacing: 20px;
	margin: auto;
	color: #E6E6E6;
	text-shadow: 2px 4px 10px black;
	background:rgba(255,255,255,0.5);
}

#jHeader {
	font-size: 63pt;
	font-family: lobster;
	letter-spacing: 20px;
	margin: auto;
	color: white;
	text-shadow: 2px 4px 10px black;
	background:rgba(255,255,255,0.3);
}

.introDiv {
	width: 80%;
	margin: auto;
	color: grey;
	text-shadow: 2px 3px 10px white;
	background:rgba(255,255,255,0.8);
	border-radius: 10px;
}

.home-intro-paragraph {
	margin-top: 100px;
	font-size: 20pt;
	text-align: center;
}


/*---------------------------
TECHNOLOGY LIST
---------------------------*/

#techListSection {
	/*padding-top: 52px;*/
	padding-bottom: 52px;
	/*background-color: #F7F7F7;*/
	background:rgba(255,255,255,0.9);
}

#techListSection > h1 {
	text-align: center;
}

#techListSection > h3 {
	text-align: center;
}

#techSectionMain {
	width: 90%;
	margin: auto;
	border: 1px solid black;
	padding: 30px 0px 30px 30px;
}

.techChartWord {
	display: inline-block;
	width: 15%;
	font-size: 18pt;
	text-align: right;
	padding-right: 10px;
}

.techChart {
	height: 15px;
	display: inline-block;
	border: 1px solid black;
}

.h5 {
	background-color: orange;
	width: 42%;
}

.c3 {
	background-color: lightblue;
	width: 45%;
}

.jv {
	background-color: green;
	width: 50%;
	color: white;
}

.jvscpt {
	background-color: #DCE800;
	width: 50%;
}

.ang {
	background-color: red;
	width: 32%;
	color: white;
}

.jq {
	background-color: navy;
	width: 30%;
	color: white;
}

.sql {
	background-color: lightgreen;
	width: 35%;
}



/*--------------------------
PROJECTS SECTION
--------------------------*/

#projectsSection {
	/*padding-top: 52px;*/
	/*background-color: #F7F7F7;*/
	background:rgba(255,255,255,0.9);
	text-align: center;
	min-height: 500px;
	overflow: visible;
}

.hideProjects {
	height: 800px;
	overflow: hidden;
}

.projects-content {
	max-width: 1200px;
	margin: auto;
	box-shadow: 0 0 50px grey;
	border-radius: 15px;
}

.projectBox {
	width: 47%;
	margin: 40px 10px 0px 10px;
	display: inline-block;
	float: left;
	/*background-color: white;*/
	border: solid grey 1px;
}

.projectBox:hover {
	border: 1px solid #07c;
	box-shadow: 0 0 100px black;
}

.projectTitle {
	height: 45px;
	font-size: 18pt;
	margin-top: -25px;
	text-shadow: 2px 2px 10px black;
	text-align: center;
}

.projectDescription {
	min-height: 35px;
	font-size: 14pt;
	text-align: center;
	/*padding-top: 10px;*/
}

.projectApp {
	height: 250px;
	cursor: pointer;
}

.projectApp img {
	height: 100%;
	width: 100%;
}

/*------------------------*/
.projectApp {
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	color:#333;
	line-height:2;
}
.projectApp:hover {
	border-width:2px 5px 5px 3px;
	border-color:grey;
}
.projectApp:active{
	border-color: #666 #aaa #bbb #888;
	border-width:5px 2px 2px 5px;
	color:#000;
}
/*--------------------------*/

.projectCode {
	height: 40px;
	font-size: 14pt;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

/*----------------------------*/
.projectCode {
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	color:#333;
	line-height:2;
}
.projectCode:hover {
	border-width:2px 5px 5px 3px;
	border-color:grey;
}
.projectCode:active{
	border-color: #666 #aaa #bbb #888;
	border-width:5px 2px 2px 5px;
	color:#000;
}
/*---------------------------*/

.projects-line2 {
	clear: both;
}

#clearBottomOfProjects {
	clear: both;
	padding-top: 50px;
}

.expandCollapseProjects {
	font-size: 18pt;
	border-radius: 10px;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 10px;
}

.pResume {
	font-size: 18pt;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 10px;
}

.pResume:hover, .expandCollapseProjects:hover {
	background-color: #555;
}


/*--------------------------
CONTACT INFO SECTION
--------------------------*/


#contactInfoSection {
	padding-bottom: 52px;
	background:rgba(255,255,255,0.9);
	min-height: 350px;
}

#contactInfoSection > h1 {
	text-align: center;
}

.contact-info-left, .contact-info-right {
	display: inline-block;
}

.contact-info-left {
	width: 20%;
	text-align: right;
}

.contact-info-right {
	width: 78%;
}

.contact-info-right div {
	padding-bottom: 50px;
	width: 100%;
	font-size: 16pt;
}

.contact-info-right-information a {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.contact-info img {
	height: 65px;
	width: 65px;
}


/*----------------------------
FOOTER
----------------------------*/
#footer {
	background-color: black;
}

.foot {
	/*background-color: red;*/
	clear: both;
	font-size: 12pt;
	color: white;
	padding-top: 10px;
}

.footerText, .footerResume, .footerPics {
	display: inline-block;
}

.footerText {
	width: 32%;
	text-align: center;
}

.footerText > div {
	padding: 5px;
}

.footerResume {
	width: 32%;
	line-height: 5px;
	text-align: center;
}

.footerResume > span {
	/*background-color: blue;*/
}

.footerResume a {

}

.footerPics {
	width: 32%;
	/*background-color: blue;*/
}

/*------------------------------*/

.footerLinks a, .footerLink a {
	text-decoration: none;
	color: white;
}

.footerPics img {
	height: 60px;
	width: 60px;
	margin-left: 30px;
}

#gitHubIcon {
	background-color: white;
	border-radius: 100px;
}

.footerLink {
	color: white;
	cursor: pointer;
}

.footerHover:hover {
	text-shadow: 0px 0px 6px white;
}


/*------------------------
RESUME DROPDOWN
------------------------*/

.resumeDropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 130px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	min-width: 130px;
	font-size: 18px;
	text-align: center;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.resumeDropdown:hover .dropdown-content {
	display: block;
}

.resumeDropdown:hover .dropbtn {
	background-color: #3e8e41;
}


/*-----------------------------
MISC
-----------------------------*/

#break {
	height: 100px;
}

.sans-serifFont {
	font-family: Helvetica;
}

/*format size for section headers*/
.sectionTitle {
	font-size: 36pt;
}

.jSectionTitle {
	font-size: 33pt;
}